affine==2.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
attrs==26.1.0
cachetools==7.1.4
certifi==2026.5.20
click==8.4.1
click-plugins==1.1.1.2
cligj==0.7.2
cogeo-mosaic==9.1.0
color-operations==0.2.0
fastapi==0.136.3
geojson-pydantic==2.1.1
h11==0.16.0
httpcore==1.0.9
httptools==0.8.0
httpx==0.28.1
idna==3.17
Jinja2==3.1.6
MarkupSafe==3.0.3
morecantile==7.0.3
numexpr==2.14.1
numpy==2.4.6
pydantic==2.13.4
pydantic-settings==2.14.1
pydantic_core==2.46.4
pyparsing==3.3.2
pyproj==3.7.2
pystac==1.14.3
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
PyYAML==6.0.3
rasterio>=1.3.0 # changed from ==1.5.0 to 1.3.0 to work with python 3.11
rio-tiler==9.0.6
shapely==2.1.2
simplejson==4.1.1
six==1.17.0
starlette==1.2.0
supermorecado==0.2.0
titiler-core==2.0.3
titiler-mosaic==2.0.3
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.48.0
uvloop==0.22.1
watchfiles==1.2.0
websockets==16.0
